---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex, nofollow, noarchive" />
		<meta name="referrer" content="no-referrer" />
		<title>Ron Edgecomb</title>
	</head>
	<body>
		<main>
			<p>website coming soon</p>
		</main>
		<footer>
			<a href="https://x.com/ronedgecomb">X</a> /
			<a href="https://bsky.app/profile/ronedgecomb.bsky.social">Bluesky</a> /
			<a rel="me" href="https://mastodon.social/@ronedgecomb">Mastodon</a>
		</footer>
	</body>
</html>
